
body, h1, h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #0078D7; 
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    color: #555; 
}
